#box {
  width: 100%;
  height: 100%;
}

#box #middle .main {
  padding-top: 20px;
}

#box #middle .main .bigbox {
  width: 100%;
  border: 5px solid #e7e7e7;
  box-sizing: border-box;
}

#box #middle .main .bigbox .MMB-one {
  padding-left: 15px;
  height: 40px;
  border-bottom: 2px solid #85726c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#box #middle .main .bigbox .MMB-one p:nth-of-type(1) b {
  margin-left: 5px;
}

#box #middle .main .bigbox .MMB-one p:nth-of-type(2) {
  width: 68px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  border-radius: 10px;
  height: 18px;
  background: #c75050;
  color: #fff;
}

#box #middle .main .bigbox .MMB-tow {
  width: 100%;
  font-size: 13px;
  height: 35px;
  background: #f1eeeb;
}

#box #middle .main .bigbox .MMB-tow ul {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 35px;
}

#box #middle .main .bigbox .MMB-tow ul .MMTT-one {
  flex: 1;
  text-align: center;
}

#box #middle .main .bigbox .MMB-tow ul .MMTT-two {
  flex: 5;
  text-align: center;
}

#box #middle .main .bigbox .MMB-tow ul .MMTT-three,
#box #middle .main .bigbox .MMB-tow ul .MMTT-six,
#box #middle .main .bigbox .MMB-tow ul .MMTT-five,
#box #middle .main .bigbox .MMB-tow ul .MMTT-four {
  flex: 2;
  text-align: center;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content {
  height: 125px;
  border-bottom: 2px dotted #999999;
  border-top: 2px dotted #999999;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div {
  height: 100%;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul {
  height: 100%;
  display: flex;
  align-items: center;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lione {
  flex: 1;
  text-align: center;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-litwo {
  flex: 5;
  text-align: center;
  align-items: center;
  margin-left: 30px;
  display: flex;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-litwo img {
  height: 80px;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lithree,
#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lifour,
#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lifive,
#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lisix {
  flex: 2;
  text-align: center;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lifour {
  display: flex;
  justify-content: center;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lifour .jian, #box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lifour .jia {
  width: 12px;
  height: 24px;
  border: 1px solid #d3c6c0;
  background: #f1edeb;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lifour .zhi {
  width: 30px;
  height: 22px;
  border: 1px solid #bea9a0;
  text-align: center;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lifour .jia {
  border-left: 0px solid;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lifour .jian {
  border-right: 0px solid;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content div ul .C-lisix {
  color: blue;
  cursor: pointer;
}

#box #middle .main .bigbox .MMB-three .MMBT-content .content:nth-of-type(n+2) {
  border-top: 0px dotted #999999;
}

#box #middle .main .bigbox .MMB-four {
  padding-left: 15px;
  height: 70px;
  background: #f1eeeb;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#box #middle .main .bigbox .MMB-four .MBBF-left ul {
  display: flex;
  font-size: 12px;
}

#box #middle .main .bigbox .MMB-four .MBBF-left ul li input {
  margin-right: 4px;
}

#box #middle .main .bigbox .MMB-four .MBBF-left ul li:nth-of-type(2) {
  margin-left: 20px;
  cursor: pointer;
}

#box #middle .main .bigbox .MMB-four .MBBF-right ul {
  display: flex;
  align-items: center;
}

#box #middle .main .bigbox .MMB-four .MBBF-right ul li {
  margin: 0px 15px;
  font-size: 12px;
}

#box #middle .main .bigbox .MMB-four .MBBF-right ul li span {
  font-size: 15px;
  color: #dc4242;
}

#box #middle .main .bigbox .MMB-four .MBBF-right ul li:nth-of-type(3) {
  display: flex;
}

#box #middle .main .bigbox .MMB-four .MBBF-right ul li:nth-of-type(3) div {
  font-size: 22px;
  color: #fff;
  text-align: center;
  background: #dc4242;
  width: 210px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
