@charset "UTF-8";
#register-2box {
  width: 100%;
  height: 100%;
}

#register-2box .register_matter {
  padding-top: 20px;
  padding-bottom: 40px;
}

#register-2box .register_matter .main {
  display: flex;
}

#register-2box .register_matter .main .RM_left {
  width: 400px;
  height: 535px;
  background: #f8f8f5;
  margin-right: 10px;
  border: 1px solid #d2d2ce;
  padding: 10px;
  position: relative;
}

#register-2box .register_matter .main .RM_left h3 {
  font-size: 14px;
  color: #333333;
}

#register-2box .register_matter .main .RM_left p {
  font-size: 12px;
  position: absolute;
  right: 10px;
}

#register-2box .register_matter .main .RM_left p a {
  color: #0066cc;
}

#register-2box .register_matter .main .RM_left p:hover {
  text-decoration: underline;
  ​cursor: pointer;
}

#register-2box .register_matter .main .RM_left hr {
  margin-top: 18px;
  margin-bottom: 28px;
}

#register-2box .register_matter .main .RM_left dl {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
}

#register-2box .register_matter .main .RM_left dl dt {
  float: left;
  height: 35px;
  line-height: 35px;
  width: 80px;
  text-align: right;
  font-size: 12px;
}

#register-2box .register_matter .main .RM_left dl dd input {
  padding-left: 10px;
  box-sizing: border-box;
  width: 280px;
  height: 35px;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(2), #register-2box .register_matter .main .RM_left dl:nth-of-type(3) {
  margin-bottom: 95px;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(2) dd, #register-2box .register_matter .main .RM_left dl:nth-of-type(3) dd {
  position: relative;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(2) dd input, #register-2box .register_matter .main .RM_left dl:nth-of-type(3) dd input {
  width: 180px;
  float: left;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(2) dd .chunfang,
#register-2box .register_matter .main .RM_left dl:nth-of-type(2) dd .chunfang2, #register-2box .register_matter .main .RM_left dl:nth-of-type(3) dd .chunfang,
#register-2box .register_matter .main .RM_left dl:nth-of-type(3) dd .chunfang2 {
  float: left;
  margin-left: 10px;
  width: 90px;
  height: 35px;
  background: yellow;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(2) dd .chunfang div,
#register-2box .register_matter .main .RM_left dl:nth-of-type(2) dd .chunfang2 div, #register-2box .register_matter .main .RM_left dl:nth-of-type(3) dd .chunfang div,
#register-2box .register_matter .main .RM_left dl:nth-of-type(3) dd .chunfang2 div {
  display: flex;
  height: 100%;
  font-size: 20px;
  line-height: 35px;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(2) dd .chunfang div span,
#register-2box .register_matter .main .RM_left dl:nth-of-type(2) dd .chunfang2 div span, #register-2box .register_matter .main .RM_left dl:nth-of-type(3) dd .chunfang div span,
#register-2box .register_matter .main .RM_left dl:nth-of-type(3) dd .chunfang2 div span {
  flex: 1;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(2) dd .chunfang2, #register-2box .register_matter .main .RM_left dl:nth-of-type(3) dd .chunfang2 {
  background: #f45f03;
  text-align: center;
  font-size: 12px;
  line-height: 35px;
  color: #fff;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(2) dd .tishi, #register-2box .register_matter .main .RM_left dl:nth-of-type(3) dd .tishi {
  position: absolute;
  font-size: 12px;
  top: 9px;
  right: 109px;
  color: red;
  display: none;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(3) {
  margin-bottom: 160px;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(5) {
  position: relative;
}

#register-2box .register_matter .main .RM_left dl:nth-of-type(5) dd .tishi2 {
  position: absolute;
  font-size: 12px;
  top: 9px;
  right: 10px;
  color: red;
  display: none;
}

#register-2box .register_matter .main .RM_left .inputt {
  font-size: 12px;
  text-align: center;
}

#register-2box .register_matter .main .RM_left #zhuche {
  text-align: center;
  line-height: 45px;
  color: #fff;
  width: 355px;
  height: 45px;
  background: red;
  position: absolute;
  left: 22px;
  bottom: 40px;
}

/* scss */
/* 
#register-2box{
    width: 100%;
    height: 100%;
    .register_matter{
        padding-top: 20px;
        padding-bottom: 40px;
        .main{
            display: flex;

            .RM_left{
                width: 400px;
                height: 535px;
                background: #f8f8f5;
                margin-right: 10px;
                border: 1px solid #d2d2ce;
                padding: 10px;
                position: relative;
                h3{
                    font-size: 14px;
                    color: #333333;
                }
                p{
                    font-size: 12px;
                    position: absolute;
                    right: 10px;
                    a{
                        color: #0066cc;
                    }
                }
                p:hover{
                    text-decoration: underline;
                    ​cursor:pointer;
                }
                hr{
                    margin-top: 18px;
                    margin-bottom: 28px;
                    
                }
                dl{
                    margin-top:10px;
                    margin-left:10px;
                    margin-bottom: 30px;
                    dt{
                        float: left;
                        height: 35px;
                        line-height: 35px;
                        width: 80px;
                        text-align: right;
                        font-size: 12px;
                    }
                    dd{
                        // float: left   
                        input{
                            padding-left:10px;
                            box-sizing: border-box;
                            width: 280px;
                            height: 35px;     
                            // border: 1px solid yellow;      
                        }  
                                
                    }
                }
                dl:nth-of-type(2),dl:nth-of-type(3){
                    margin-bottom: 95px;
                    dt{
                        
                    }
                    dd{
                        position: relative;
                        input{
                            width: 180px;
                            float: left;
                        }
                        .chunfang,
                        .chunfang2{
                            float: left;
                            margin-left:10px ;
                            width:90px;
                            height: 35px;
                            background: yellow;
                            // display: block;
                            div{
                                display: flex;
                                height: 100%;
                                font-size: 20px;
                                line-height: 35px;
                                span{
                                    flex: 1;
                                }
                            }

                        }
                        .chunfang2{
                            background: #f45f03;
                            text-align: center;
                            font-size: 12px;
                            line-height: 35px;
                            color: #fff;
                        }
                        .tishi{
                            position: absolute;
                            font-size: 12px;
                            top: 9px;
                            right: 109px;
                            color:red;
                            display: none;
                        }
                    }
                }
                dl:nth-of-type(3){
                    margin-bottom:160px
                }
                dl:nth-of-type(5){
                    position: relative;
                    dd{
                        .tishi2{
                            position: absolute;
                            font-size: 12px;
                            top: 9px;
                            right: 10px;
                            color:red;
                            display: none;
                        }
                    }
                }

                .inputt{
                    font-size: 12px;
                    text-align: center;

                }
                #zhuche{
                    text-align: center;
                    line-height: 45px;
                    color: #fff;
                    width: 355px;
                    height: 45px;
                    background: red;
                    position: absolute;
                    left: 22px;
                    bottom: 40px;
                }


            }
        }

    }
}
*/
/* end scss */